.desc{
    max-height: 4rem;
    overflow: auto;
}
.status{
    background-color: #dcfce7;
    color: #166534;
    border-radius: 15px;
    border-radius: 999px;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    font-weight: 600;
    width: max-content;
}